section.about-me {
  div.about-me-wrapper {
    width: 80%;

    h2 {
      font-size: 4vh;
      margin-bottom: 5vh;
    }

    div.about {
      img {
        height: 22vh;
        border-radius: 5%;
        box-shadow: 0 5px 10px 5px gray;
        margin-bottom: 3vh;
        margin-right: 3vh;
      }

      p {
        font-size: 3vh;
        text-align: justify;
      }
    }
  }
}

@media (orientation: landscape) {
  section.about-me {
    div.about-me-wrapper {
      width: 90%;

      h2 {
        font-size: 4vw;
        margin-bottom: 3vw;
      }

      div.about {
        img {
          float: left;
          height: 25vw;
          box-shadow: 0 5px 10px 5px gray;
          margin-bottom: 2vw;
          margin-right: 4vw;
        }

        p {
          font-size: 3vw;
          text-align: justify;
        }
      }
    }
  }
}