section.gallery {
  div.gallery-wrapper {
    width: 80%;

    div.popup-gallery {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;

      a {
        width: 45%;
        transition: .3s;
        @include hightlight-off;

        &:active {
          transform: scale(1.4);
        }
      }

      img {
        width: 100%;
        margin-bottom: 5%;
      }
    }
  }
}

@media (orientation: landscape) {
  section.gallery {
    div.gallery-wrapper {
      div.popup-gallery {
        a {
          width: 22%
        }
      }
    }
  }
}