#phonebtn {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%);
  text-decoration: none;
  width: 50%;
  line-height: 200%;
  font-weight: bold;
  font-size: 3vh;
  text-align: center;
  padding: 3px;
  color: white;
  border-radius: 10px;
  background-color: rgb(30, 207, 7);
  animation: 4s 3s shakebtn infinite both;
  box-shadow: 0 0 6px 2px black;
  transition: .7s;
  @include hightlight-off;

  i.fa-phone {
    transform: rotate(115deg) translate(0, 0);
    margin-right: 10px;
  }
}


nav.main-nav {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba($color: #000000, $alpha: .85);
  width: 60%;
  height: 40%;
  padding: 1vh;
  border-radius: 10px;
  transition: .7s;

  ul {
    list-style: none;
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    li {
      color: white;
      font-size: 2vh;
      letter-spacing: 2px;
      margin: 0 1.5vh;
      background-color: rgba(0, 0, 0, .6);
      padding: 1.2vh;
      border-radius: 5px;
      box-shadow: 0 0 8px 2px rgba(0, 0, 0, .6);
      transition: .3s;

      &.active-li {
        box-shadow: 0 0 8px 2px white;
      }
    }
  }
}

div.burger-menu {
  position: fixed;
  overflow: hidden;
  top: 23%;
  right: -30vh;
  width: 20vh;
  height: 7vh;
  z-index: 5;
  background-color: rgba(0, 0, 0, .95);
  border-radius: 4px;
  transition: .7s;

  &.burger-menu-active {
    height: 100vh;
  }

  #phone {
    color: rgb(30, 207, 7);
    font-size: 6vh;
    margin-left: 3vh;
    margin-top: 1vh;
    @include hightlight-off;
  }

  i.fa-bars {
    font-size: 6vh;
    margin-left: 3vh;
    color: #eee;
  }

  nav.burger-nav {
    ul {
      text-align: center;
      list-style: none;

      li {
        width: 100%;
        margin-top: 4vh;
        margin-bottom: 2vh;
        color: white;
        font-size: 2.7vh;

        &.active-li {
          box-shadow: 0 0 8px 2px white;
        }
      }
    }
  }
}

@keyframes shakebtn {
  0% {
    transform: translate(-50%) rotate(0deg);
  }

  2% {
    transform: translate(-50%) rotate(-2deg);
  }

  4% {
    transform: translate(-50%) rotate(2deg);
  }

  6% {
    transform: translate(-50%) rotate(-2deg);
  }

  8% {
    transform: translate(-50%) rotate(2deg);
  }

  10% {
    transform: translate(-50%) rotate(-2deg);
  }

  12% {
    transform: translate(-50%) rotate(2deg);
  }

  14% {
    transform: translate(-50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%) rotate(0deg);
  }
}

@media (orientation: landscape) and (min-width: 500px) {
  #phonebtn {
    top: 40%;
    font-size: 2.5vw;
    width: 30%;
  }

  nav.main-nav {
    top: 60%;
    height: 20%;
    width: 100%;

    ul {
      flex-direction: row;
      align-items: center;

      li {
        font-size: 2vw;
        letter-spacing: 2px;
        padding: 2vw;
      }
    }
  }


  div.burger-menu {
    top: 5%;
    right: -40vw;
    width: 25vw;
    height: 6vw;

    &.burger-menu-active {
      height: 100vw;
    }

    #phone {
      font-size: 5vw;
      margin-left: 4vw;
    }

    i.fa-bars {
      font-size: 5vw;
      margin-left: 4vw;

    }

    nav.burger-nav {

      ul {
        li {
          font-size: 2vw;
        }
      }
    }
  }
}