section.services {
  div.services-wrapper {
    width: 80%;

    h2 {
      font-size: 2.5vh;
    }

    h2:nth-of-type(2) {
      margin: 3vh 0;
    }

    div.service {
      img {
        filter: brightness(0) invert(1);
        height: 2.5vh;
        margin: 3vh 0 .5vh;
      }

      p {
        font-size: 2vh;
      }
    }
  }
}

@media (orientation: landscape) {
  section.services {
    div.services-wrapper {
      width: 90%;
      h2 {
        font-size: 2.5vw;
        margin-bottom: 3vw;
      }

      h2:nth-of-type(2) {
        margin: 3vw 0;
      }

      div.service {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 2vw;
        img {
          height: 2vw;
          margin: 0 2vw;
        }

        p {
          font-size: 2vw;
        }
      }
    }
  }
}

@media (orientation: landscape) and (min-width: 1025px){
  section.services {
    div.services-wrapper {
      width: 100%;
      h2 {
        font-size: 20px;
      }

      div.service {
        margin-left: 50%;
        transform: translate(-50%);
        img {
          height: 15px;
        }

        p {
          font-size: 15px;
        }
      }
    }
  }
}