* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

.page {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: center;
  bottom: 0;
  left: 0;
  height: 0;
  overflow: auto;
  width: 100%;
  padding: 0;
  background-color: rgba(0, 0, 0, .9);
  box-shadow: 0 0 2px 1px #eee;
  color: #eee;
}

.active-page {
  height: 70%;
  padding: 5vh 0 5vh 4vh;
}

.close {
  position: fixed;
  top: 30%;
  right: 1%;
  background-color: transparent;
  color: #eee;
  transition: .2s;
  border: none;
  // box-shadow: 0 0 2px 0 #eee;
  height: 11vh;
  width: 9vh;
  font-size: 5vh;
  border-radius: 4px;

  &:focus {
    outline: none;
  }

  i {
    margin-left: 1vh;
  }
}

@keyframes btnmove {
  from {
    top: 100%;
  }

  to {
    top: 30%;
  }
}

@media (orientation: landscape) {
  .active-page {
    height: 60%;
    padding: 5vw;
  }

  .close {
    top: 40%;
    height: 12vw;
    width: 12vw;
    font-size: 6vw;
  }

  @keyframes btnmove {
    from {
      top: 100%;
    }

    to {
      top: 40%;
    }
  }
}

@import "./baner";
@import "./nav";
@import "./footer";
@import "./about-me";
@import "./gallery";
@import "./services";
@import "./contact";
@import "./open-hours";