@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: arial, sans-serif;
}

.page {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  text-align: center;
  bottom: 0;
  left: 0;
  height: 0;
  overflow: auto;
  width: 100%;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0 0 2px 1px #eee;
          box-shadow: 0 0 2px 1px #eee;
  color: #eee;
}

.active-page {
  height: 70%;
  padding: 5vh 0 5vh 4vh;
}

.close {
  position: fixed;
  top: 30%;
  right: 1%;
  background-color: transparent;
  color: #eee;
  -webkit-transition: .2s;
  transition: .2s;
  border: none;
  height: 11vh;
  width: 9vh;
  font-size: 5vh;
  border-radius: 4px;
}

.close:focus {
  outline: none;
}

.close i {
  margin-left: 1vh;
}

@-webkit-keyframes btnmove {
  from {
    top: 100%;
  }
  to {
    top: 30%;
  }
}

@keyframes btnmove {
  from {
    top: 100%;
  }
  to {
    top: 30%;
  }
}

@media (orientation: landscape) {
  .active-page {
    height: 60%;
    padding: 5vw;
  }
  .close {
    top: 40%;
    height: 12vw;
    width: 12vw;
    font-size: 6vw;
  }
  @-webkit-keyframes btnmove {
    from {
      top: 100%;
    }
    to {
      top: 40%;
    }
  }
  @keyframes btnmove {
    from {
      top: 100%;
    }
    to {
      top: 40%;
    }
  }
}

header {
  position: relative;
  overflow: hidden;
  height: 100vh;
  text-align: center;
  background-image: url(../imgs/baner/bg600por.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header div.hero {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
  -webkit-box-shadow: 1px 10px 15px 10px rgba(0, 0, 0, 0.95);
          box-shadow: 1px 10px 15px 10px rgba(0, 0, 0, 0.95);
}

header div.hero h1 {
  padding-top: 3vh;
  text-transform: uppercase;
  font-family: 'oswald', arial, sans-serif;
  letter-spacing: 4px;
  font-size: 6vh;
}

header div.hero h2 {
  font-size: 3vh;
}

header div.hero h3 {
  font-size: 2.5vh;
  margin-top: 2vh;
}

header img {
  position: absolute;
  top: 0;
  left: 0;
}

header img.gear1 {
  height: 315px;
  top: 82px;
  left: -74px;
  -webkit-animation: rotate 15s infinite linear;
          animation: rotate 15s infinite linear;
}

header img.gear2 {
  height: 315px;
  top: 400px;
  left: -180px;
  -webkit-animation: rotate 15s infinite linear;
          animation: rotate 15s infinite linear;
}

header img.gear3 {
  height: 255px;
  top: 320px;
  left: 75px;
  animation: rotate 13s reverse infinite linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@media (orientation: landscape) {
  header {
    background-image: url(../imgs/baner/bg600land.jpg);
  }
  header div.hero h1 {
    font-size: 4vw;
  }
  header div.hero h2 {
    font-size: 2.5vw;
  }
  header div.hero h3 {
    font-size: 2vw;
  }
}

@media (orientation: landscape) and (orientation: landscape) and (max-width: 1000px) {
  header img.gear1 {
    height: 315px;
    top: -82px;
    left: -74px;
    -webkit-animation: rotate 15s infinite linear;
            animation: rotate 15s infinite linear;
  }
  header img.gear2 {
    height: 315px;
    top: 250px;
    left: 275px;
    -webkit-animation: rotate 17s infinite linear;
            animation: rotate 17s infinite linear;
  }
  header img.gear3 {
    height: 255px;
    top: 160px;
    left: 75px;
    animation: rotate 13s reverse infinite linear;
  }
}

#phonebtn {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-decoration: none;
  width: 60%;
  line-height: 200%;
  font-weight: bold;
  font-size: 3.5vh;
  text-align: center;
  padding: 3px;
  color: white;
  border-radius: 10px;
  background-color: #1ecf07;
  -webkit-animation: 4s 3s shakebtn infinite both;
          animation: 4s 3s shakebtn infinite both;
  -webkit-box-shadow: 0 0 6px 2px black;
          box-shadow: 0 0 6px 2px black;
  -webkit-transition: .7s;
  transition: .7s;
}

#phonebtn i.fa-phone {
  -webkit-transform: rotate(115deg) translate(0, 0);
          transform: rotate(115deg) translate(0, 0);
  margin-right: 10px;
}

nav.main-nav {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: rgba(0, 0, 0, 0.85);
  width: 70%;
  height: 40%;
  padding: 1vh;
  border-radius: 10px;
  -webkit-transition: .7s;
  transition: .7s;
}

nav.main-nav ul {
  list-style: none;
  text-align: center;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav.main-nav ul li {
  color: white;
  font-size: 3vh;
  letter-spacing: 2px;
  margin: 0 1.5vh;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1.2vh;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.6);
  -webkit-transition: .3s;
  transition: .3s;
}

nav.main-nav ul li.active-li {
  -webkit-box-shadow: 0 0 8px 2px white;
          box-shadow: 0 0 8px 2px white;
}

div.burger-menu {
  position: fixed;
  overflow: hidden;
  top: 22%;
  right: -30vh;
  width: 25vh;
  height: 8vh;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.95);
  border-radius: 4px;
  -webkit-transition: .7s;
  transition: .7s;
}

div.burger-menu.burger-menu-active {
  height: 55vh;
}

div.burger-menu #phone {
  color: #1ecf07;
  font-size: 8vh;
  margin-left: 3vh;
}

div.burger-menu i.fa-bars {
  font-size: 8vh;
  margin-left: 3vh;
  color: #eee;
}

div.burger-menu nav.burger-nav ul {
  text-align: center;
  list-style: none;
}

div.burger-menu nav.burger-nav ul li {
  width: 100%;
  margin-top: 4vh;
  margin-bottom: 2vh;
  color: white;
  font-size: 3.5vh;
}

div.burger-menu nav.burger-nav ul li.active-li {
  -webkit-box-shadow: 0 0 8px 2px white;
          box-shadow: 0 0 8px 2px white;
}

@-webkit-keyframes shakebtn {
  0% {
    -webkit-transform: translate(-50%) rotate(0deg);
            transform: translate(-50%) rotate(0deg);
  }
  2% {
    -webkit-transform: translate(-50%) rotate(-2deg);
            transform: translate(-50%) rotate(-2deg);
  }
  4% {
    -webkit-transform: translate(-50%) rotate(2deg);
            transform: translate(-50%) rotate(2deg);
  }
  6% {
    -webkit-transform: translate(-50%) rotate(-2deg);
            transform: translate(-50%) rotate(-2deg);
  }
  8% {
    -webkit-transform: translate(-50%) rotate(2deg);
            transform: translate(-50%) rotate(2deg);
  }
  10% {
    -webkit-transform: translate(-50%) rotate(-2deg);
            transform: translate(-50%) rotate(-2deg);
  }
  12% {
    -webkit-transform: translate(-50%) rotate(2deg);
            transform: translate(-50%) rotate(2deg);
  }
  14% {
    -webkit-transform: translate(-50%) rotate(0deg);
            transform: translate(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%) rotate(0deg);
            transform: translate(-50%) rotate(0deg);
  }
}

@keyframes shakebtn {
  0% {
    -webkit-transform: translate(-50%) rotate(0deg);
            transform: translate(-50%) rotate(0deg);
  }
  2% {
    -webkit-transform: translate(-50%) rotate(-2deg);
            transform: translate(-50%) rotate(-2deg);
  }
  4% {
    -webkit-transform: translate(-50%) rotate(2deg);
            transform: translate(-50%) rotate(2deg);
  }
  6% {
    -webkit-transform: translate(-50%) rotate(-2deg);
            transform: translate(-50%) rotate(-2deg);
  }
  8% {
    -webkit-transform: translate(-50%) rotate(2deg);
            transform: translate(-50%) rotate(2deg);
  }
  10% {
    -webkit-transform: translate(-50%) rotate(-2deg);
            transform: translate(-50%) rotate(-2deg);
  }
  12% {
    -webkit-transform: translate(-50%) rotate(2deg);
            transform: translate(-50%) rotate(2deg);
  }
  14% {
    -webkit-transform: translate(-50%) rotate(0deg);
            transform: translate(-50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%) rotate(0deg);
            transform: translate(-50%) rotate(0deg);
  }
}

@media (orientation: landscape) {
  #phonebtn {
    top: 40%;
    font-size: 3vw;
    width: 40%;
  }
  nav.main-nav {
    top: 60%;
    height: 20%;
    width: 100%;
  }
  nav.main-nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav.main-nav ul li {
    font-size: 2.5vw;
    letter-spacing: 2px;
    padding: 2vw;
  }
  div.burger-menu {
    top: 5%;
    right: -30vw;
    width: 25vw;
    height: 8vw;
  }
  div.burger-menu.burger-menu-active {
    height: 45vw;
  }
  div.burger-menu #phone {
    font-size: 8vw;
    margin-left: 3vw;
  }
  div.burger-menu i.fa-bars {
    font-size: 8vw;
    margin-left: 3vw;
  }
  div.burger-menu nav.burger-nav ul li {
    font-size: 3vw;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 12%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
  font-size: 2vh;
  color: white;
  -webkit-transition: .7s;
  transition: .7s;
}

footer h2 {
  font-size: 1.5vh;
  margin-bottom: 3px;
}

footer p {
  margin-bottom: 3px;
  font-size: 1.5vh;
}

footer p i {
  margin-right: 5px;
  font-size: 1.8vh;
  color: #0e76a8;
}

footer p a {
  color: white;
  text-decoration: none;
}

@media (orientation: landscape) {
  footer {
    height: 12%;
  }
  footer h2 {
    font-size: 1.5vw;
    margin-bottom: 0;
  }
  footer p {
    font-size: 1.3vw;
    margin-bottom: 0;
  }
  footer p i {
    font-size: 1.3vw;
  }
}

section.about-me div.about-me-wrapper {
  width: 80%;
}

section.about-me div.about-me-wrapper h2 {
  font-size: 4vh;
  margin-bottom: 5vh;
}

section.about-me div.about-me-wrapper div.about img {
  height: 22vh;
  border-radius: 5%;
  -webkit-box-shadow: 0 5px 10px 5px gray;
          box-shadow: 0 5px 10px 5px gray;
  margin-bottom: 3vh;
  margin-right: 3vh;
}

section.about-me div.about-me-wrapper div.about p {
  font-size: 3vh;
  text-align: justify;
}

@media (orientation: landscape) {
  section.about-me div.about-me-wrapper {
    width: 90%;
  }
  section.about-me div.about-me-wrapper h2 {
    font-size: 4vw;
    margin-bottom: 3vw;
  }
  section.about-me div.about-me-wrapper div.about img {
    float: left;
    height: 25vw;
    -webkit-box-shadow: 0 5px 10px 5px gray;
            box-shadow: 0 5px 10px 5px gray;
    margin-bottom: 2vw;
    margin-right: 4vw;
  }
  section.about-me div.about-me-wrapper div.about p {
    font-size: 3vw;
    text-align: justify;
  }
}

section.gallery div.gallery-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

section.gallery div.gallery-wrapper a {
  width: 45%;
  -webkit-transition: .3s;
  transition: .3s;
}

section.gallery div.gallery-wrapper a:active {
  color: transparent;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

section.gallery div.gallery-wrapper img {
  width: 100%;
  margin-bottom: 5%;
}

@media (orientation: landscape) {
  section.gallery div.gallery-wrapper a {
    width: 22%;
  }
}
/*# sourceMappingURL=style.css.map */